
.scrollable::-webkit-scrollbar {
    width: 0px;
  }
  
  .scrollable::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
  }
  
  /* Para navegadores Firefox */
  .scrollable {
    scrollbar-width: 0px;
    scrollbar-color: #ccc transparent;
  }

 /*
 
 <form className="flex flex-col">
                            <label htmlFor="name" className="text-xl mb-2 font-bold">Tratamento de Mensagem:</label>
                            <input
                                type="text"
                                className="pl-4 py-2 bg-[#fdd28846] rounded-xl mb-6 disabled:opacity-50"
                                id="name"
                                placeholder="Faça o tratamento da mensagem"
                                required
                            />

                            <div className="flex justify-center">
                                <button className="bg-red-400 p-4 font-bold text-white rounded-md">Visualizar mensagem</button>
                            </div>
                        </form>
 */